html {
    height: 100%;
    margin: 0;
}
body {
    background-color:floralwhite;
    min-height: 100%;
    margin: 0;
}

nav{
	background: cover;
}

nav .brand-logo {
	top:0;
/*	width: 100%;*/
	letter-spacing: 5px;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 5.1em;
    padding: 0;
}

.img-slide{
  border-style: solid;
	border-width:thick;
}

root-layout{
	height: 100%;
}

.content{
	margin-top: 30px;
	height:100%;
}

.recipe-card img{
	max-height: 100px;
}
